$color: grey!important;
$color-hover: green;
$bg-color: #777 !important;
.left-menu{
	width: 80px;
	height: 100%;
	background-color: #222;
	overflow:hidden;
	position: relative;
	& ul li{
		width: 80px;
		transition: 0.5s all linear;
		&:hover{
			background-color: $bg-color;
			& a{
				color: $color-hover;
			}
		}
		& a{
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;
			text-decoration: none!important;
			transition: 0.5s all linear;
			color: $color;
			font-weight: 600;
			
		}
	}
	
}
.active{
	background-color: $color;
}